@model IEnumerable<WebApplication1.Models.Category>


<h2>Show</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category_id.Increment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category_name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category_id.Increment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @*id=item.customer_id*@}) |
                @Html.ActionLink("Details", "Details", new { @*id=item.customer_id*@ }) |
                @Html.ActionLink("Delete", "Delete", new { @*id=item.customer_id*@ })
            </td>
        </tr>
}
    </tbody>
</table>
